layout: index
subtitle: "慧政通 - 住建厅-行政审批平台前端开发文档"
slogan: 行政审批平台开发代码手册
description: "Best Coding Guidelines or Front-End Developer."
comments: false
---
ul#intro-feature-list.intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title 有点麻烦 /(ㄒoㄒ)/~~
      p.intro-feature-desc 在使用文档之前。你已经会使用gulp、sea.js、layui? 即刻阅读指南开始开发
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-picture-o
      h3.intro-feature-title 抽象性
      p.intro-feature-desc 项目中大量使用模板，构造函数，构造函数继承，原型链继承，熟练掌握他们之间的微妙之处，有助于帮你构建高效复用的代码。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 很有趣
      p.intro-feature-desc 虽然性能不比vue、react等前端框架。但这个框架集成了很多vue的想法，一样可以玩的飞起来~
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-file-code-o
      h3.intro-feature-title 兼容IE8的单页应用
      p.intro-feature-desc 本项目构建采用hash控制模块的加载实现单页，同时模板不缓存（视图文件经常会变更），模块脚本本地缓存，缓解请求压力。（部分插件不兼容IE8）具体还得看使用场景而定
